{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-4" style="color: #ff3366; font-family: 'Pacifico', cursive; font-size: 3rem;">Get in Touch</h1>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h4 class="mb-3"><i class="fas fa-phone-alt"></i> Contact Us</h4>
                <p class="text-danger font-weight-bold"><a href="tel:9876543210">9876543210 6299464855</a></p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h4 class="mb-3"><i class="fas fa-envelope"></i> Email Us</h4>
                <p class="text-danger font-weight-bold"><a href="mailto:sush@gmail.com">sush@gmail.com</a></p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h4 class="mb-3"><i class="fas fa-map-marker-alt"></i> Visit Us</h4>
                <p class="text-primary font-weight-bold">Jalandhar, Punjab</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card border-0 shadow text-center p-4">
                <h4 class="mb-3"><i class="far fa-clock"></i> Office Hours</h4>
                <p class="text-primary font-weight-bold">10AM to 6PM</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% include 'footer.html' %}